In [18]:
import os
import xarray as xr
import numpy as np
import pandas as pd
from glob import glob

# Create a CFDatetimeCoder instance
time_coder = xr.coders.CFDatetimeCoder(use_cftime=True)

##############################################################################
# 0) Helper to convert cftime => "YYYY-MM"
##############################################################################
def cftime_to_yearmonth(cf_time):
    """
    Convert a cftime object to a "YYYY-MM" string.
    If cf_time is float or NaN, return None.
    """
    if pd.isnull(cf_time) or isinstance(cf_time, float):
        return None
    return f"{cf_time.year:04d}-{cf_time.month:02d}"

##############################################################################
# 1) Read each monthly netCDF => Weighted monthly mean => [timestr, experiment, model, tas]
##############################################################################

all_rows = []
nc_files = glob("../data/cds/tas*.nc")
print(f"Found {len(nc_files)} monthly netCDF files...")

for fpath in nc_files:
    base = os.path.basename(fpath)
    print(f"\nReading file: {base}")
    ds = xr.open_dataset(fpath, decode_times=time_coder)

    exp = ds.attrs.get("experiment_id", "???")
    mod = ds.attrs.get("source_id", "???")
    print(f" => experiment={exp}, model={mod}")

    # If "height" is present, drop it
    if "height" in ds.variables:
        ds = ds.drop_vars("height")

    # Weighted monthly mean (convert K to °C)
    da_k = ds["tas"]  # shape: (time, lat, lon)
    da_c = da_k - 273.15
    weights = np.cos(np.deg2rad(da_k.lat))
    da_weighted = da_c.weighted(weights)
    da_mean = da_weighted.mean(dim=["lat", "lon"])  # 1D [time]

    # Convert to DataFrame
    df_temp = da_mean.to_dataframe(name="tas").reset_index()  # => [time, tas]
    # Convert cftime => "YYYY-MM"
    df_temp["timestr"] = df_temp["time"].apply(cftime_to_yearmonth)
    # Convert the string to a pandas datetime format (day will default to 1)
    df_temp["timestr"] = pd.to_datetime(df_temp["timestr"], format="%Y-%m", errors="coerce")

    # Add experiment & model
    df_temp["experiment"] = exp
    df_temp["model"] = mod

    print(f" => shape={df_temp.shape}, timestr example: {df_temp['timestr'].head(3).tolist()}")
    all_rows.append(df_temp[["timestr","experiment","model","tas"]])

##############################################################################
# 2) Concatenate => Group on [experiment, timestr] => Multi-model ensemble
##############################################################################
df_all = pd.concat(all_rows, ignore_index=True)
print("\nAll data shape =", df_all.shape)
print(df_all.head(10))

# By default, pandas .mean() ignores NaN values
df_ens = df_all.groupby(["experiment", "timestr"], as_index=False)["tas"].mean()
print("\nEnsemble groupby shape =", df_ens.shape)
print(df_ens.head())

##############################################################################
# 3) Historical vs Scenario splicing using pandas datetime
##############################################################################
def splice_hist_scenario(df_ens, scenario):
    """
    Input: df_ens with columns: [experiment, timestr, tas]
    timestr is pandas datetime.
    We combine 'historical' (1850-2014) + scenario (2015-2100).
    Returns a new DataFrame with columns: [timestr, year, month, tas].
    """
    # Create year and month columns
    df_ens["year"] = df_ens["timestr"].dt.year
    df_ens["month"] = df_ens["timestr"].dt.month

    df_hist = df_ens.query("experiment=='historical' and year>=1850 and year<=2014").copy()
    df_scen = df_ens.query("experiment==@scenario and year>=2015 and year<=2100").copy()

    df_comb = pd.concat([df_hist, df_scen], ignore_index=True)
    df_comb = df_comb.sort_values(["year", "month"]).reset_index(drop=True)
    return df_comb

df_126 = splice_hist_scenario(df_ens, "ssp126")
df_245 = splice_hist_scenario(df_ens, "ssp245")
df_585 = splice_hist_scenario(df_ens, "ssp585")

print("\nssp126 shape:", df_126.shape)
print("head:\n", df_126.head(10))

##############################################################################
# 4) Export dataframes (so you can import them in another file)
##############################################################################
export_folder = "../data/cds/"
df_126.to_csv(os.path.join(export_folder, "tas_ensemble_ssp126_monthly_1850_2100.csv"), index=False)
df_245.to_csv(os.path.join(export_folder, "tas_ensemble_ssp245_monthly_1850_2100.csv"), index=False)
df_585.to_csv(os.path.join(export_folder, "tas_ensemble_ssp585_monthly_1850_2100.csv"), index=False)

# Optionally, export as pickle:
df_126.to_pickle(os.path.join(export_folder, "tas_ensemble_ssp126_monthly_1850_2100.pkl"))
df_245.to_pickle(os.path.join(export_folder, "tas_ensemble_ssp245_monthly_1850_2100.pkl"))
df_585.to_pickle(os.path.join(export_folder, "tas_ensemble_ssp585_monthly_1850_2100.pkl"))

print("\nAll done. DataFrames exported as CSV and pickle files.")

Found 65 monthly netCDF files...

Reading file: tas_Amon_HadGEM3-GC31-LL_historical_r1i1p1f3_gn_185001-194912.nc
 => experiment=historical, model=HadGEM3-GC31-LL
 => shape=(1200, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM5-0_ssp245_r1i1p1f1_gr1_201501-210012.nc
 => experiment=ssp245, model=INM-CM5-0
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp126_r1i1p1f1_gn_203501-205412.nc
 => experiment=ssp126, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2035-01-01 00:00:00'), Timestamp('2035-02-01 00:00:00'), Timestamp('2035-03-01 00:00:00')]

Reading file: tas_Amon_HadGEM3-GC31-LL_historical_r1i1p1f3_gn_195001-201412.nc
 => experiment=historical, model=HadGEM3-GC31-LL
 => shape=(780, 5), timestr example: [Timestamp('1950-01-01 00:00:00'), Timestamp('1950-02-01 00:00:00'), Timestamp('1950-03-01 00:00:00')]

Reading file: tas_Amon_HadGEM3-GC31-LL_ssp126_r1i1p1f3_gn_201501-204912.nc
 => experiment=ssp126, model=HadGEM3-GC31-LL
 => shape=(420, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_191001-192912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1910-01-01 00:00:00'), Timestamp('1910-02-01 00:00:00'), Timestamp('1910-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp126_r1i1p1f2_gn_201501-204912.nc
 => experiment=ssp126, model=UKESM1-0-LL
 => shape=(420, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp126_r1i1p1f1_gn_209501-210012.nc
 => experiment=ssp126, model=MPI-ESM1-2-LR
 => shape=(72, 5), timestr example: [Timestamp('2095-01-01 00:00:00'), Timestamp('2095-02-01 00:00:00'), Timestamp('2095-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM4-8_historical_r1i1p1f1_gr1_200001-201412.nc
 => experiment=historical, model=INM-CM4-8
 => shape=(180, 5), timestr example: [Timestamp('2000-01-01 00:00:00'), Timestamp('2000-02-01 00:00:00'), Timestamp('2000-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp585_r1i1p1f1_gn_207501-209412.nc
 => experiment=ssp585, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2075-01-01 00:00:00'), Timestamp('2075-02-01 00:00:00'), Timestamp('2075-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp585_r1i1p1f1_gn_205501-207412.nc
 => experiment=ssp585, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2055-01-01 00:00:00'), Timestamp('2055-02-01 00:00:00'), Timestamp('2055-03-01 00:00:00')]

Reading file: tas_Amon_IPSL-CM6A-LR_ssp245_r1i1p1f1_gr_201501-210012.nc
 => experiment=ssp245, model=IPSL-CM6A-LR
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp245_r13i1p1f2_gn_205001-210012.nc
 => experiment=ssp245, model=UKESM1-0-LL
 => shape=(612, 5), timestr example: [Timestamp('2050-01-01 00:00:00'), Timestamp('2050-02-01 00:00:00'), Timestamp('2050-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp585_r1i1p1f1_gn_203501-205412.nc
 => experiment=ssp585, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2035-01-01 00:00:00'), Timestamp('2035-02-01 00:00:00'), Timestamp('2035-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_199001-200912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1990-01-01 00:00:00'), Timestamp('1990-02-01 00:00:00'), Timestamp('1990-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp585_r1i1p1f2_gn_201501-204912.nc
 => experiment=ssp585, model=UKESM1-0-LL
 => shape=(420, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_HadGEM3-GC31-LL_ssp585_r1i1p1f3_gn_201501-204912.nc
 => experiment=ssp585, model=HadGEM3-GC31-LL
 => shape=(420, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp126_r1i1p1f1_gn_207501-209412.nc
 => experiment=ssp126, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2075-01-01 00:00:00'), Timestamp('2075-02-01 00:00:00'), Timestamp('2075-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp585_r1i1p1f1_gn_209501-210012.nc
 => experiment=ssp585, model=MPI-ESM1-2-LR
 => shape=(72, 5), timestr example: [Timestamp('2095-01-01 00:00:00'), Timestamp('2095-02-01 00:00:00'), Timestamp('2095-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp126_r1i1p1f1_gn_205501-207412.nc
 => experiment=ssp126, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2055-01-01 00:00:00'), Timestamp('2055-02-01 00:00:00'), Timestamp('2055-03-01 00:00:00')]

Reading file: tas_Amon_MIROC-ES2L_ssp126_r1i1p1f2_gn_201501-210012.nc
 => experiment=ssp126, model=MIROC-ES2L
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp245_r1i1p1f1_gn_201501-203412.nc
 => experiment=ssp245, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM4-8_ssp245_r1i1p1f1_gr1_201501-210012.nc
 => experiment=ssp245, model=INM-CM4-8
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_189001-190912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1890-01-01 00:00:00'), Timestamp('1890-02-01 00:00:00'), Timestamp('1890-03-01 00:00:00')]

Reading file: tas_Amon_MIROC-ES2L_ssp585_r1i1p1f2_gn_201501-210012.nc
 => experiment=ssp585, model=MIROC-ES2L
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp245_r1i1p1f2_gn_205001-210012.nc
 => experiment=ssp245, model=UKESM1-0-LL
 => shape=(612, 5), timestr example: [Timestamp('2050-01-01 00:00:00'), Timestamp('2050-02-01 00:00:00'), Timestamp('2050-03-01 00:00:00')]

Reading file: tas_Amon_HadGEM3-GC31-LL_ssp245_r1i1p1f3_gn_205001-210012.nc
 => experiment=ssp245, model=HadGEM3-GC31-LL
 => shape=(612, 5), timestr example: [Timestamp('2050-01-01 00:00:00'), Timestamp('2050-02-01 00:00:00'), Timestamp('2050-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM5-0_historical_r1i1p1f1_gr1_195001-201412.nc
 => experiment=historical, model=INM-CM5-0
 => shape=(780, 5), timestr example: [Timestamp('1950-01-01 00:00:00'), Timestamp('1950-02-01 00:00:00'), Timestamp('1950-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM5-0_historical_r1i1p1f1_gr1_185001-194912.nc
 => experiment=historical, model=INM-CM5-0
 => shape=(1200, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_187001-188912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1870-01-01 00:00:00'), Timestamp('1870-02-01 00:00:00'), Timestamp('1870-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp245_r1i1p1f1_gn_209501-210012.nc
 => experiment=ssp245, model=MPI-ESM1-2-LR
 => shape=(72, 5), timestr example: [Timestamp('2095-01-01 00:00:00'), Timestamp('2095-02-01 00:00:00'), Timestamp('2095-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_185001-186912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM5-0_ssp126_r1i1p1f1_gr1_201501-210012.nc
 => experiment=ssp126, model=INM-CM5-0
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_historical_r13i1p1f2_gn_185001-194912.nc
 => experiment=historical, model=UKESM1-0-LL
 => shape=(1200, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_IPSL-CM6A-LR_ssp585_r1i1p1f1_gr_201501-210012.nc
 => experiment=ssp585, model=IPSL-CM6A-LR
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp245_r1i1p1f1_gn_203501-205412.nc
 => experiment=ssp245, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2035-01-01 00:00:00'), Timestamp('2035-02-01 00:00:00'), Timestamp('2035-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_historical_r13i1p1f2_gn_195001-201412.nc
 => experiment=historical, model=UKESM1-0-LL
 => shape=(780, 5), timestr example: [Timestamp('1950-01-01 00:00:00'), Timestamp('1950-02-01 00:00:00'), Timestamp('1950-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp245_r1i1p1f2_gn_201501-204912.nc
 => experiment=ssp245, model=UKESM1-0-LL
 => shape=(420, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_HadGEM3-GC31-LL_ssp245_r1i1p1f3_gn_201501-204912.nc
 => experiment=ssp245, model=HadGEM3-GC31-LL
 => shape=(420, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp245_r1i1p1f1_gn_207501-209412.nc
 => experiment=ssp245, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2075-01-01 00:00:00'), Timestamp('2075-02-01 00:00:00'), Timestamp('2075-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp245_r1i1p1f1_gn_205501-207412.nc
 => experiment=ssp245, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2055-01-01 00:00:00'), Timestamp('2055-02-01 00:00:00'), Timestamp('2055-03-01 00:00:00')]

Reading file: tas_Amon_IPSL-CM6A-LR_historical_r1i1p1f1_gr_185001-201412.nc
 => experiment=historical, model=IPSL-CM6A-LR
 => shape=(1980, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_IPSL-CM6A-LR_ssp126_r1i1p1f1_gr_201501-210012.nc
 => experiment=ssp126, model=IPSL-CM6A-LR
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MIROC-ES2L_historical_r1i1p1f2_gn_185001-201412.nc
 => experiment=historical, model=MIROC-ES2L
 => shape=(1980, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM4-8_historical_r1i1p1f1_gr1_195001-199912.nc
 => experiment=historical, model=INM-CM4-8
 => shape=(600, 5), timestr example: [Timestamp('1950-01-01 00:00:00'), Timestamp('1950-02-01 00:00:00'), Timestamp('1950-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM5-0_ssp585_r1i1p1f1_gr1_201501-210012.nc
 => experiment=ssp585, model=INM-CM5-0
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp245_r13i1p1f2_gn_201501-204912.nc
 => experiment=ssp245, model=UKESM1-0-LL
 => shape=(420, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MIROC-ES2L_ssp245_r1i1p1f2_gn_201501-210012.nc
 => experiment=ssp245, model=MIROC-ES2L
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp585_r1i1p1f2_gn_205001-210012.nc
 => experiment=ssp585, model=UKESM1-0-LL
 => shape=(612, 5), timestr example: [Timestamp('2050-01-01 00:00:00'), Timestamp('2050-02-01 00:00:00'), Timestamp('2050-03-01 00:00:00')]

Reading file: tas_Amon_HadGEM3-GC31-LL_ssp585_r1i1p1f3_gn_205001-210012.nc
 => experiment=ssp585, model=HadGEM3-GC31-LL
 => shape=(612, 5), timestr example: [Timestamp('2050-01-01 00:00:00'), Timestamp('2050-02-01 00:00:00'), Timestamp('2050-03-01 00:00:00')]

Reading file: tas_Amon_IPSL-CM6A-LR_ssp126_r1i1p1f1_gr_210101-230012.nc
 => experiment=ssp126, model=IPSL-CM6A-LR
 => shape=(2400, 5), timestr example: [Timestamp('2101-01-01 00:00:00'), Timestamp('2101-02-01 00:00:00'), Timestamp('2101-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp126_r1i1p1f1_gn_201501-203412.nc
 => experiment=ssp126, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_201001-201412.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(60, 5), timestr example: [Timestamp('2010-01-01 00:00:00'), Timestamp('2010-02-01 00:00:00'), Timestamp('2010-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_193001-194912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1930-01-01 00:00:00'), Timestamp('1930-02-01 00:00:00'), Timestamp('1930-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM4-8_ssp585_r1i1p1f1_gr1_201501-210012.nc
 => experiment=ssp585, model=INM-CM4-8
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_HadGEM3-GC31-LL_ssp126_r1i1p1f3_gn_205001-210012.nc
 => experiment=ssp126, model=HadGEM3-GC31-LL
 => shape=(612, 5), timestr example: [Timestamp('2050-01-01 00:00:00'), Timestamp('2050-02-01 00:00:00'), Timestamp('2050-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_ssp126_r1i1p1f2_gn_205001-210012.nc
 => experiment=ssp126, model=UKESM1-0-LL
 => shape=(612, 5), timestr example: [Timestamp('2050-01-01 00:00:00'), Timestamp('2050-02-01 00:00:00'), Timestamp('2050-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_historical_r1i1p1f2_gn_195001-201412.nc
 => experiment=historical, model=UKESM1-0-LL
 => shape=(780, 5), timestr example: [Timestamp('1950-01-01 00:00:00'), Timestamp('1950-02-01 00:00:00'), Timestamp('1950-03-01 00:00:00')]

Reading file: tas_Amon_IPSL-CM6A-LR_ssp585_r1i1p1f1_gr_210101-230012.nc
 => experiment=ssp585, model=IPSL-CM6A-LR
 => shape=(2400, 5), timestr example: [Timestamp('2101-01-01 00:00:00'), Timestamp('2101-02-01 00:00:00'), Timestamp('2101-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_ssp585_r1i1p1f1_gn_201501-203412.nc
 => experiment=ssp585, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM4-8_ssp126_r1i1p1f1_gr1_201501-210012.nc
 => experiment=ssp126, model=INM-CM4-8
 => shape=(1032, 5), timestr example: [Timestamp('2015-01-01 00:00:00'), Timestamp('2015-02-01 00:00:00'), Timestamp('2015-03-01 00:00:00')]

Reading file: tas_Amon_UKESM1-0-LL_historical_r1i1p1f2_gn_185001-194912.nc
 => experiment=historical, model=UKESM1-0-LL
 => shape=(1200, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_INM-CM4-8_historical_r1i1p1f1_gr1_185001-194912.nc
 => experiment=historical, model=INM-CM4-8
 => shape=(1200, 5), timestr example: [Timestamp('1850-01-01 00:00:00'), Timestamp('1850-02-01 00:00:00'), Timestamp('1850-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_195001-196912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1950-01-01 00:00:00'), Timestamp('1950-02-01 00:00:00'), Timestamp('1950-03-01 00:00:00')]

Reading file: tas_Amon_MPI-ESM1-2-LR_historical_r1i1p1f1_gn_197001-198912.nc
 => experiment=historical, model=MPI-ESM1-2-LR
 => shape=(240, 5), timestr example: [Timestamp('1970-01-01 00:00:00'), Timestamp('1970-02-01 00:00:00'), Timestamp('1970-03-01 00:00:00')]

All data shape = (43344, 4)
     timestr  experiment            model        tas
0 1850-01-01  historical  HadGEM3-GC31-LL  11.626693
1 1850-02-01  historical  HadGEM3-GC31-LL  11.521224
2 1850-03-01  historical  HadGEM3-GC31-LL  12.190565
3 1850-04-01  historical  HadGEM3-GC31-LL  13.332862
4 1850-05-01  historical  HadGEM3-GC31-LL  14.384081
5 1850-06-01  historical  HadGEM3-GC31-LL  15.174171
6 1850-07-01  historical  HadGEM3-GC31-LL  15.739409
7 1850-08-01  historical  HadGEM3-GC31-LL  15.634402
8 1850-09-01  historical  HadGEM3-GC31-LL  14.966849
9 1850-10-01  historical  HadGEM3-GC31-LL  13.842390

Ensemble groupby shape = (8948, 3)
   experiment    timestr        tas
0  historical 1850-01-01  11.318312
1  historical 1850-02-01  11.603154
2  historical 1850-03-01  12.319791
3  historical 1850-04-01  13.415382
4  historical 1850-05-01  14.385354

ssp126 shape: (3012, 5)
head:
    experiment    timestr        tas  year  month
0  historical 1850-01-01  11.318312  1850      1
1  historical 1850-02-01  11.603154  1850      2
2  historical 1850-03-01  12.319791  1850      3
3  historical 1850-04-01  13.415382  1850      4
4  historical 1850-05-01  14.385354  1850      5
5  historical 1850-06-01  15.169300  1850      6
6  historical 1850-07-01  15.583966  1850      7
7  historical 1850-08-01  15.442201  1850      8
8  historical 1850-09-01  14.711369  1850      9
9  historical 1850-10-01  13.625682  1850     10

All done. DataFrames exported as CSV and pickle files.

In [10]:
df_126

      experiment  timestr        tas  year  month
0     historical  1850-01  11.318312  1850      1
1     historical  1850-02  11.603154  1850      2
2     historical  1850-03  12.319791  1850      3
3     historical  1850-04  13.415382  1850      4
4     historical  1850-05  14.385354  1850      5
...          ...      ...        ...   ...    ...
3007      ssp126  2100-08  17.352185  2100      8
3008      ssp126  2100-09  16.679186  2100      9
3009      ssp126  2100-10  15.687556  2100     10
3010      ssp126  2100-11  14.659475  2100     11
3011      ssp126  2100-12  13.940958  2100     12

[3012 rows x 5 columns]

In [11]:
df_245

      experiment  timestr        tas  year  month
0     historical  1850-01  11.318312  1850      1
1     historical  1850-02  11.603154  1850      2
2     historical  1850-03  12.319791  1850      3
3     historical  1850-04  13.415382  1850      4
4     historical  1850-05  14.385354  1850      5
...          ...      ...        ...   ...    ...
3007      ssp245  2100-08  18.700473  2100      8
3008      ssp245  2100-09  17.984499  2100      9
3009      ssp245  2100-10  16.994911  2100     10
3010      ssp245  2100-11  16.002053  2100     11
3011      ssp245  2100-12  15.234002  2100     12

[3012 rows x 5 columns]

In [14]:
df_585

      experiment  timestr        tas  year  month
0     historical  1850-01  11.318312  1850      1
1     historical  1850-02  11.603154  1850      2
2     historical  1850-03  12.319791  1850      3
3     historical  1850-04  13.415382  1850      4
4     historical  1850-05  14.385354  1850      5
...          ...      ...        ...   ...    ...
3007      ssp585  2100-08  20.885149  2100      8
3008      ssp585  2100-09  20.198120  2100      9
3009      ssp585  2100-10  19.151406  2100     10
3010      ssp585  2100-11  18.174843  2100     11
3011      ssp585  2100-12  17.482997  2100     12

[3012 rows x 5 columns]

In [ ]:


# Open one sample file with decode_times=True
sample_file = "../data/cds/tas_Amon_HadGEM3-GC31-LL_historical_r1i1p1f3_gn_185001-194912.nc"
ds_sample = xr.open_dataset(sample_file, decode_times=True)

# Look at the time coordinate
time_values = ds_sample.time.values
print("Time coordinate values:", time_values)

# Compute the differences between time steps (in days)
time_diff = np.diff(time_values.astype('datetime64[D]'))
print("Time differences between entries:", time_diff)
print("Unique time differences (in days):", np.unique(time_diff))

In [ ]:
import xarray as xr
import numpy as np

# Define the sample file path
sample_file = "../data/cds/tas_Amon_HadGEM3-GC31-LL_historical_r1i1p1f3_gn_185001-194912.nc"

# Open the dataset with decoded times (this converts the time coordinate to cftime objects)
ds_sample = xr.open_dataset(sample_file, decode_times=True)

# Retrieve the time coordinate values
time_values = ds_sample.time.values
print("Time coordinate values:", time_values)

# Convert the time values to numpy datetime64 objects (using days) and compute differences
time_diff = np.diff(time_values.astype("datetime64[D]"))
print("Time differences between entries (in days):", time_diff)
print("Unique time differences (in days):", np.unique(time_diff))

In [ ]:
def cftime_to_monthly_string(cf_time):
    try:
        return f"{cf_time.year:04d}-{cf_time.month:02d}-15"
    except Exception as e:
        return None

# Test on your time coordinate:
date_strings = [cftime_to_monthly_string(t) for t in time_values]
print(date_strings[:10])

In [ ]:
ds_ens = xr.open_dataset("../data/cds/cmip6_ensemble_mean_monthly.nc", 
                           decode_times=True, use_cftime=True)
print(ds_ens.experiment.values)